.content{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:16rem;
}
.s{
    background: linear-gradient(to right, #B06AB3, #4568DC); /* Linear gradient for modern browsers */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-webkit browsers */
    color: transparent;
    margin-left: 10px;
}